<div class="header d-flex px-4 py-2 bg-gray justify-content-between">
  <div class="title">
    <h1> <strong>FORTUNO</strong><small>|test</small>  </h1>
  </div>
  <div>
    <div *ngIf="!user; else elseBlock">
      <!-- Content to show when condition is true -->
      <asl-google-signin-button type='standard' size='medium'>
      </asl-google-signin-button>
    </div>
    <ng-template #elseBlock>
    
        <img style="max-width:32px;max-height:32px;border-radius: 1000px;" src="{{user.photoUrl}}" alt="">
        {{user.name}}
        <!-- Content to show when condition is false -->
      <button class="btn" (click)="signOut()">Odjava</button>
  
    
    </ng-template>
    
  </div>
</div>




<div class="component" *ngIf="data">
  <h2>Post list ({{data.length}} posts)</h2>
  <div class="post" *ngFor="let item of data">
    <h3 class=" pb-4">{{ item.title }}</h3>
    <p class="post-content"> {{ item.body }}</p>
  </div>
</div>

<router-outlet></router-outlet>
